@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "Roboto Regular"; }

@font-face {
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: "Roboto Medium"; }

@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: "Roboto Bold"; }

/*icons*/
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*='icon-']:before {
  display: inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-insta:before {
  content: '\0041'; }

.icon-vk:before {
  content: '\0042'; }

.icon-menu:before {
  content: '\0043'; }

.icon-Logo:before {
  content: '\0044'; }

.icon-facebook:before {
  content: '\0045'; }

/*normalize*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "Roboto Regular", serif;
  color: #1B1B1B; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

header {
  text-align: center; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 64px;
  margin: 45px 0;
  font-family: "Roboto Bold", serif; }

h2 {
  font-size: 2.67em;
  margin: 40px 0;
  font-family: "Roboto Bold", serif; }

p {
  margin: 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  color: #1B1B1B;
  display: block; }
  a:hover {
    color: #828282; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.is-animated {
  transition: all 400ms ease; }

.content-container {
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 1360px) {
    .content-container {
      width: 970px; } }
  @media screen and (max-width: 1359px) {
    .content-container {
      width: 100%; } }

section {
  margin: 80px 0; }
  section.is-grey {
    background: #F7F9FB; }

.menu__frame {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; }
  @media screen and (min-width: 1360px) {
    .menu__frame {
      width: 1360px;
      height: 67px;
      margin: 31px 40px;
      margin: auto; } }
  @media screen and (max-width: 1359px) {
    .menu__frame {
      display: none; } }
  .menu__frame-logo {
    position: relative;
    top: 31px;
    left: 40px; }
    @media screen and (max-width: 1359px) {
      .menu__frame-logo {
        position: absolute;
        left: 20px;
        top: 20px; } }
  .menu__frame-navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 16px; }
    .menu__frame-navbar-enter {
      margin: 23px 40px;
      padding: 12px 30px;
      border: 1px solid #a4a4a4;
      border-radius: 6px;
      width: 46px;
      height: 19px;
      font-family: "Roboto Medium", serif; }
      .menu__frame-navbar-enter:hover {
        color: #828282; }
    .menu__frame-navbar-menu {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between; }
      .menu__frame-navbar-menu-link {
        margin: 35px 30px auto;
        font-size: 16px; }

@media screen and (min-width: 1360px) {
  .mobile-header {
    display: none; } }

.mobile-menu {
  position: fixed;
  top: 68px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: white;
  opacity: 0%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  pointer-events: none; }
  .mobile-menu.active {
    pointer-events: all;
    opacity: 95%; }
  .mobile-menu__header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    z-index: 2; }
  .mobile-menu__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 22%;
    line-height: 24px; }
  .mobile-menu__open {
    position: absolute;
    top: 25px;
    right: 25px; }
    .mobile-menu__open:after {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0H18V2H0V0ZM0 5H18V7H0V5ZM0 10H18V12H0V10Z' fill='black'/%3e%3c/svg%3e"); }
    .mobile-menu__open.active:after {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z' fill='black'/%3e%3c/svg%3e"); }
  .mobile-menu__enter {
    margin: 20px auto;
    padding: 12px 145px;
    border: 1px solid #a4a4a4;
    border-radius: 6px;
    width: 335px;
    height: 43px;
    font-family: "Roboto Medium", serif;
    text-align: center;
    background: none; }

.header-content {
  font-size: 24px; }
  .header-content-img {
    width: 397px;
    height: 300px; }
    @media screen and (max-width: 1359px) {
      .header-content-img {
        height: 202px; } }

.questions {
  margin: 0 auto;
  width: 1044px; }
  @media screen and (max-width: 1359px) {
    .questions {
      width: 100%; } }
  .questions-item-question {
    width: 1026px;
    background: #F7F7F8;
    margin: 14px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
    padding: 19px 22px;
    line-height: 30px; }
    .questions-item-question:hover {
      background: rgba(97, 161, 153, 0.1); }
    @media screen and (max-width: 1359px) {
      .questions-item-question {
        width: 90%;
        margin: 15px auto;
        padding: 14px 20px; } }
    .questions-item-question-content {
      margin-right: 50px;
      text-align: center; }
    .questions-item-question:after {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.88 0.439941L8 6.55994L14.12 0.439941L16 2.33327L8 10.3333L0 2.33327L1.88 0.439941Z' fill='%23A0A7AD'/%3e%3c/svg%3e"); }
    .questions-item-question.active {
      background: rgba(97, 161, 153, 0.1);
      color: #61A199; }
      .questions-item-question.active:after {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.88 10.5601L8 4.44006L14.12 10.5601L16 8.66673L8 0.666725L0 8.66673L1.88 10.5601Z' fill='%2361A199'/%3e%3c/svg%3e"); }
  .questions-item-answer {
    width: 784px;
    margin: 20px 70px 40px;
    font-size: 20px;
    display: none; }
    @media screen and (max-width: 1359px) {
      .questions-item-answer {
        width: 89.3%;
        margin: 0 auto; } }

footer {
  background: #3F3D56;
  margin: 0 auto;
  text-align: center;
  align-content: center; }

.footer__frame {
  margin: 0 40px;
  height: 124px; }
  @media screen and (min-width: 1360px) {
    .footer__frame {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  @media screen and (max-width: 1359px) {
    .footer__frame {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; } }
  .footer__frame-copy {
    font-size: 16px;
    color: #fff;
    opacity: 40%; }
    @media screen and (max-width: 1359px) {
      .footer__frame-copy {
        margin-top: 30px; } }
  .footer__frame-links {
    font-size: 27px; }
    @media screen and (min-width: 1360px) {
      .footer__frame-links {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between; } }
    @media screen and (max-width: 1359px) {
      .footer__frame-links {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 33px; } }
    .footer__frame-links a {
      margin-right: 19.33px;
      color: #fff; }
      .footer__frame-links a:hover {
        color: #828282; }
